<template>
  <div class="ion-page">
    <ion-toolbar>
      <ion-title>Contenidos disponibles</ion-title>
      <ion-buttons slot="primary"></ion-buttons>

      <ion-buttons slot="start" @click="back">
        <ion-button color="primary">
          <ion-icon slot="icon-only" name="arrow-back" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>

    <ion-content v-if="contents.length > 0">
      <div class="flex-contents">
        <img
                v-for="content in contents"
                :key="content._id"
                :alt="content.title"
                @click="gotoContent(content._id)"
                class="img-content"
                :src="makeUrlImageThumb(content.thumbnail.large)" />
      </div>
    </ion-content>

    <ion-content v-else>
      <h2 class="title">
        SIN CONTENIDOS
      </h2>
    </ion-content>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    name: "ContentsByCategory",

    async created() {
      await this.getContents();
    },

    methods: {
      ...mapActions("Content", ["getContentByCategory"]),

      async getContents() {
        this.contents = await this.getContentByCategory({
          id: this.$route.params.id,
          token: this.user_token
        });
      },

      back() {
        this.$router.back();
      },

      gotoContent(id) {
        return this.$router.push(`/content/${id}`);
      },

      makeUrlImageThumb(url) {
        return `http://165.227.55.182:3000/${url}`;
      },
    },

    computed: {
      ...mapState("User", ["user_token"])
    },

    data() {
      return {
        contents: {}
      }
    }
  }
</script>

<style scoped>
  .title {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
  }

  .img-content {
    max-width: 30%;
    margin-bottom: .5rem;
  }

  .flex-contents {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
</style>