<template>
  <div class="ion-page">
    <ion-content :color="theme">
      <Player :content="content" />
      <ion-toolbar :color="theme">
        <ion-title>{{content.title}}</ion-title>
        <ion-buttons slot="primary"></ion-buttons>

        <ion-buttons slot="start" @click="back">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" @click="addFavoriteContent" v-if="isFavorite">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="star-outline" />
          </ion-button>
        </ion-buttons>

        <ion-buttons slot="end" @click="DeleteFavorite" v-else>
          <ion-button color="primary">
            <ion-icon slot="icon-only" name="star" />
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <!--<StarRating class="stars" @rating-selected="Rate" :star-size="25" v-model="rate" />-->
            <rate :length="5" v-model="rate" @after-rate="Rate" class="stars" />

            <span class="fade-color">Descripción</span>
            <p>{{ content.description }}</p>

            <p>
              <span class="fade-color">Categoria:</span>
              <span v-if="content.category === null">SIN CATEGORIA</span>
              <span v-else>{{ content.category.name }}</span>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import StarRating from "vue-star-rating";

import Player from "./Player";

export default {
  name: "Movie",

  components: {
    StarRating,
    Player
  },

  async created() {
    this.content = await this.getContentById({
      id: this.$route.params.id,
      token: this.user_token
    });

    await this.CheckFavorite();
    await this.getRating();
  },

  methods: {
    ...mapActions("Content", [
      "getContentById",
      "addFavorite",
      "getFavorites",
      "removeFavorite",
      "createRate",
      "getRate"
    ]),

    back() {
      this.$router.back();
    },

    async Favorite() {
      this.favorites = await this.getFavorites({
        token: this.user_token,
        userId: this.user.id
      });
    },

    async getFavoriteId() {
      return this.favorites.filter(
        favorite => favorite.content._id === this.$route.params.id
      );
    },

    async DeleteFavorite() {
      const favoriteId = await this.getFavoriteId();

      const response = await this.removeFavorite({
        token: this.user_token,
        id: favoriteId[0]._id
      });

      const toast = await this.$ionic.toastController.create({
        message: response,
        duration: 3000
      });

      await toast.present();

      await this.Favorite();

      this.isFavorite = true;
    },

    async addFavoriteContent() {
      const { _id } = this.content;
      const { id } = this.user;

      const response = await this.addFavorite({
        token: this.user_token,
        user: id,
        content: _id
      });

      const toast = await this.$ionic.toastController.create({
        message: response,
        duration: 3000
      });

      await toast.present();

      await this.Favorite();

      this.isFavorite = false;
    },

    async CheckFavorite() {
      await this.Favorite();
      for (let i = 0; i < this.favorites.length; i++) {
        if (this.favorites[i].content._id === this.$route.params.id) {
          this.isFavorite = false;
          break;
        }
      }
    },

    async Rate(rate) {
      await this.createRate({
        rate,
        token: this.user_token,
        userId: this.user.id,
        contentId: this.$route.params.id
      });

      this.getRating();
    },

    async getRating() {
      this.rate = await this.getRate({
        id: this.$route.params.id,
        token: this.user_token
      });
    }
  },

  computed: {
    ...mapState("User", ["user_token", "user"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  },

  data() {
    return {
      config: { responsive: true },
      url: null,
      favorites: null,
      isFavorite: true,
      rate: 0,
      content: {
        category: {}
      }
    };
  }
};
</script>

<style scoped>
.fade-color {
  color: #607d8b;
  font-weight: bolder;
}

.icon {
  font-size: 2rem;
}

.stars {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.col-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
</style>