<template>
  <div class="modal">
    <ion-toolbar>
      <ion-buttons slot="secondary">
        <ion-button @click="closeModal">
          <ion-icon slot="icon-only" name="close" />
        </ion-button>
      </ion-buttons>
      <ion-title>{{ title }}</ion-title>
    </ion-toolbar>

    <ion-content v-if="sections.length > 0">
      <ion-list v-for="section in sections" :key="section._id">
        <ion-item>
          <ion-label @click="gotoContentsWithCategoryAndSection(section._id)">{{ section.name }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>

    <ion-content v-else>
      <h2 class="title">SIN CONTENIDO</h2>
    </ion-content>
  </div>
</template>

<script>
import Router from "../../router";

export default {
  name: "Modal",

  props: {
    title: { type: String }
  },

  methods: {
    closeModal() {
      return this.$ionic.modalController.dismiss();
    },

    gotoContentsWithCategoryAndSection(id) {
      this.closeModal();
      return Router.push(`/contents/${this.sectionId}/${id}`);
    }
  },

  mounted() {
    // console.log(this.sections);
  },

  data() {
    return {
      sectionId: null,
      sections: null
    };
  }
};
</script>

<style scoped>
.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-left: 1rem;
}
</style>