<template>
  <div v-if="content.urlType === 0">
    <vimeo-player class="vimeo" ref="player" :options="config" :video-id="content.url" loop="1" />
  </div>
  <div v-else-if="content.urlType === 1">
    <video style="width:100%" ref="playerStream" id="video" controls></video>
  </div>
  <div v-else-if="content.urlType === 2">
    <iframe style="width:100%" ref="iframe" :src="content.url" frameborder="0"></iframe>
  </div>
</template>

<script>
import Hls from "hls.js";
import { mapState } from 'vuex'

export default {
  props: ["content"],
  data() {
    return {
      config: { responsive: true }
    };
  },
  computed: {
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  },
  methods: {
    initStream() {
      var vm = this;
      // // console.log(vm.content.url);

      var video = document.getElementById("video");
      if (Hls.isSupported()) {
        var hls = new Hls();
        hls.loadSource(vm.content.url);
        hls.attachMedia(video);
        hls.on(Hls.Events.MANIFEST_PARSED, function() {
          video.play();
        });
        hls.on("hlsError", function(event, data) {
          // console.log(event, data);
        });
      } else if (video.canPlayType("application/vnd.apple.mpegurl")) {
        //video.src = 'https://video-dev.github.io/streams/x36xhzz/x36xhzz.m3u8';
        //video.src = 'http://streamer1.streamhost.org:1935/salive/GMI3anjoh/playlist.m3u8';
        /* video.src =
          "http://streamer1.streamhost.org:1935/salive/GMIredadvenirl/playlist.m3u8"; */
        video.src = vm.content.url
        video.addEventListener("canplay", function() {
          video.play();
        });
      }
    }
  },
  watch: {
    content() {
      if (this.content.urlType === 1) {
        setTimeout(() => {
          this.initStream();
        }, 5000);
      }
    }
  }
};
</script>