<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start" @click="goBack()">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Nueva opción de pago</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content >
      <ion-card class="card-form">
        <ion-card-header>
          <ion-title>Detalles de tu tarjeta</ion-title>
        </ion-card-header>
        <ion-card-content>
          <CardNumber @change="cardDetails.number = $event.complete" 
            :stripe="stripeToken" class="card-input"/>
          <CardExpiry @change="cardDetails.expiry = $event.complete"
            :stripe="stripeToken" class="card-input"/>
          <CardCvc @change="cardDetails.cvc = $event.complete"
            :stripe="stripeToken" class="card-input"/>
          <ion-button class="payButton" expand="block" @click="savePaymentOption()">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { createToken, CardNumber, CardExpiry, CardCvc } from 'vue-stripe-elements-plus'

export default {
  components: { CardNumber, CardExpiry, CardCvc },
  computed: {
    ...mapState("DarkMode", ["theme", "buttonTheme"]),
    ...mapState("User", ["user_token"])
  },
  data(){
    return {
      completed: false,
      // stripeToken: "pk_test_VbWseLOd4tgxjw08Q8zYTSqK00GI2WGM5l",
      stripeToken: "pk_live_Jcz6eHJPhwJ6k2GR5Fg6vhAn006Gbht8H0",
      cardDetails: {
        number: false,
        expiry: false,
        cvc: false
      }
    }
  },
  methods: {
    goBack(){
      this.$router.back()
    },
    async showAlert(message){
      const alert = await this.$ionic.alertController.create({
        message,
        buttons: [{
          text: "Cerrar",
          handler: () => {
            this.$router.back()
          }
        }]
      })

      alert.present()
    },
    async savePaymentOption(){
      try {
        const { token, error } = await createToken()

        if(token != undefined){
          const { data } = await this.axios({
            method: "POST",
            url: "card",
            data: {
              cardToken: token.id
            },
            headers: {
              "authorization": `bearer ${this.user_token}`
            }
          })

          this.showAlert(data.message)
        }
        else {
          // console.log(error)
          this.showAlert(error.message)
        }
      } catch (error) {
        // console.log(error)
      }
    }
  }
}
</script>
<style>
.card-input {
  border-radius: 0.2em;
  border: 1px solid #c2c2c2;
  padding: 1em;
  margin-top: 1em;
}
.payButton {
  margin-top: 2em;
}
</style>