<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start" @click="goBack">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Suscripciones disponibles</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :color="theme">
      <ion-slides pager="true" class="subscriptions">
        <ion-slide class="subscription-slide" 
          v-for="subscription in subscriptions" 
          :key="subscription._id">
          <div class="subscription-card">
            <p class="subscription-price">$ {{ subscription.price }} USD</p>
            <p class="subscription-name">{{ subscription.name }}</p>
            <p class="subscription-description">{{ subscription.description }}</p>
            <button class="subscription-button" @click="purchaseSubscription(subscription)">
              CONTRATAR
            </button>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import moment from '../../../plugins/moment'

export default {
  data(){
    return {
      expirationDate: "",
      isExpired: true,
      recurringPayment: true
    }
  },
  computed: {
    ...mapState("DarkMode", ["theme", "buttonTheme", "darkMode"]),
    ...mapState("User", ["user_token", "user"]),
    ...mapState("Subscriptions", ["subscriptions"])
  },
  async mounted(){
    // this._getSubscriptions(this.user_token)
    this.expirationDate = moment(this.user.expiresDate).format("DD/MMMM/YYYY")
    this.isExpired = moment(this.user.expiresDate).isBefore()
  },
  methods: {
    ...mapActions("Subscriptions", ["_getSubscriptions"]),
    ...mapActions("User", ["getUserProfile"]),
    goBack(){
      this.$router.back()
    },
    async purchaseSubscription(subscription){
      // this.$router.push(`/home/subscription/${subscription._id}`)
      const alert = await this.$ionic.alertController.create({
        header: "Confirma tu compra",
        message: `¿Seguro que deseas comprar esta suscripción por $${subscription.price}?`,
        inputs: [
          {
            type: "checkbox",
            label: "Renovación automatica",
            value: true,
            checked: true
          }
        ],
        buttons: [
          {
            text: "Cancelar",
            role: "cancel"
          },
          {
            text: "Comprar",
            handler: async ($event) => {
              const recurringPayment = $event[0] ? true : false
              
              const { data } = await this.axios({
                url: "/purchase-subscription",
                method: "POST",
                headers: {
                  authorization: `bearer ${this.user_token}`
                },
                data: {
                  subscription: subscription._id,
                  recurringPayment
                }
              })

              this.responseAlert(data.message)
            }
          }
        ]
      })

      alert.present()
    },
    async responseAlert(message){
      const alert = await this.$ionic.alertController.create({
        message,
        buttons: [{
          text: "Cerrar",
          handler: () => {
            this.getUserProfile({
              id: this.user.id,
              token: this.user_token
            })
            
            this.$router.back()
          }
        }]
      })

      alert.present()
    }
  }
}
</script>
<style>
.subscriptions {
  margin-top: 2em;
}
.subscription-slide {
  padding: 1em 1em 2em 1em;
}
.subscription-card {
  background-color: #292929;
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
}
.subscription-price {
  color: white;
  font-family: "Roboto";
  font-size: 2em;
}
.subscription-name {
  color: #41BBFF;
  font-family: "Roboto";
}
.subscription-description {
  color: #DCDCDC;
  font-family: "Roboto";
}
.subscription-button {
  color: #EFEFEF;
  background-color: #5B5B5B;
  padding: 1em 2em;
  border-radius: 0.5em;
  border: 1px solid white;
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
}
.subscription-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.5em;
  width:  0.5em;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 100%;
  transform: scale(1,1) translate(-50%);
  transform-origin: 50% 50%;
  opacity: 0;
}
.subscription-button:focus:not(:active)::after {
  animation: ripple 1.5s ease-out;
}
.subscription-button:focus {
  outline: none;
}
</style>