<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar>
        <ion-title>Actualizar Contraseña</ion-title>
        <ion-buttons slot="start" @click="goBack">
          <ion-button color="primary">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-col size="12">
        <ion-icon name="lock" class="icon-info"></ion-icon>
      </ion-col>

      <ion-item class="ui-input-no-padding">
        <ion-label position="floating">Contraseña actual</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ui-input-no-padding">
        <ion-label position="floating">Contraseña nueva</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item class="ui-input-no-padding">
        <ion-label position="floating">Repetir contraseña</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <span class="link-forget" @click="$router.push('/forget')">¿Olvidaste tu contraseña?</span>
    </ion-content>
    <ion-fotter>
      <ion-button expand="block">Actualizar</ion-button>
    </ion-fotter>
  </div>
</template>

<script>
export default {
  name: "ChangePassword",
  methods: {
    goBack() {
      return this.$router.back();
    }
  }
};
</script>

<style scoped>
.text-center {
  text-align: center;
}

.mt {
  margin-top: 1rem;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.link-forget {
  text-align: center;
  display: block;
  margin-top: 2rem;
}
.icon-info {
  color: #3880ff;
  font-size: 6rem;
  display: block;
  margin: auto;
}
</style>