<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-title>Actualizar Correo Electrónico</ion-title>
        <ion-buttons slot="start" @click="goBack">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" :color="theme">
      <ion-col size="12">
        <ion-icon name="mail" class="icon-info"></ion-icon>
      </ion-col>
      <h1 class="text-center">Solicita un cambio de correo electrónico</h1>
      <p
        class="text-center"
      >Recibiras un mensaje en tu correo electrónico actual con las instrucciones para realizar la actualización</p>
    </ion-content>
    <ion-footer>
      <ion-toolbar :color="theme">
        <ion-button
          expand="block"
          @click="requestToChangeEmail"
          :color="buttonTheme"
        >Solicitar cambio de email</ion-button>
      </ion-toolbar>
    </ion-footer>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ChangeEmail",

  methods: {
    goBack() {
      return this.$router.back();
    },

    requestToChangeEmail() {
      const data = { email: this.user.email };

      this.axios
        .post("user/update-email-request", data, {
          headers: { Authorization: `Bearer ${this.user_token}` }
        })
        .then(resp => {
          // console.log(resp)
        })
        .catch(e => {
          // console.log(e)
        });
    }
  },

  computed: {
    ...mapState("User", ["user", "user_token"]),
    ...mapState("DarkMode", ["theme", "buttonTheme"])
  }
};
</script>

<style scoped>
.text-center {
  text-align: center;
  font-size: 17px;
}

.mt {
  margin-top: 1rem;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.icon-info {
  color: #3880ff;
  font-size: 6rem;
  display: block;
  margin: auto;
}
</style>