<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-title>Suscripciones disponibles</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :color="theme">
      <p class="subscription-title">Selecciona la suscripción de tu preferencia</p>
      <ion-slides pager="true" class="subscriptions">
        <ion-slide class="subscription-slide" 
          v-for="subscription in subscriptions" 
          :key="subscription._id">
          <div class="subscription-card">
            <p class="subscription-price">$ {{ subscription.price }} USD</p>
            <p class="subscription-name">{{ subscription.name }}</p>
            <p class="subscription-description">{{ subscription.description }}</p>
            <button class="subscription-button" @click="purchaseSubscription(subscription)">
              CONTRATAR
            </button>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import moment from '../../../plugins/moment'

export default {
  data(){
    return {
      expirationDate: "",
      isExpired: true,
      recurringPayment: true
    }
  },
  computed: {
    ...mapState("DarkMode", ["theme", "buttonTheme", "darkMode"]),
    ...mapState("User", ["user_token", "user", "paymentOptions"]),
    ...mapState("Subscriptions", ["subscriptions"])
  },
  async mounted(){
    this.expirationDate = moment(this.user.expiresDate).format("DD/MMMM/YYYY")
    this.isExpired = moment(this.user.expiresDate).isBefore()
  },
  methods: {
    ...mapActions("User", ["getUserProfile"]),
    ...mapActions("Subscriptions", ["_selectSubscription"]),
    goBack(){
      this.$router.back()
    },
    // Guarda la suscripción para hacer la compra en el siguiente paso
    purchaseSubscription(subscription){
      this._selectSubscription(subscription) // Guarda el id de la suscripcion
      this.$router.push("/create-payment-option")
    }
  }
}
</script>
<style>
.subscription-title {
  padding: 0.5em 2em;
  text-align: center;
  font-size: 1.2em;
}
.subscriptions {
  margin-top: 2em;
}
.subscription-slide {
  padding: 1em 1em 2em 1em;
}
.subscription-card {
  background-color: #292929;
  width: 100%;
  border-radius: 0.5em;
  padding: 1em;
}
.subscription-price {
  color: white;
  font-family: "Roboto";
  font-size: 2em;
}
.subscription-name {
  color: #41BBFF;
  font-family: "Roboto";
}
.subscription-description {
  color: #DCDCDC;
  font-family: "Roboto";
}
.subscription-button {
  color: #EFEFEF;
  background-color: #5B5B5B;
  padding: 1em 2em;
  border-radius: 0.5em;
  border: 1px solid white;
  font-size: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden;
}
.subscription-button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.5em;
  width:  0.5em;
  background-color: rgba(255, 255, 255, 0.10);
  border-radius: 100%;
  transform: scale(1,1) translate(-50%);
  transform-origin: 50% 50%;
  opacity: 0;
}
.subscription-button:focus:not(:active)::after {
  animation: ripple 1.5s ease-out;
}
.subscription-button:focus {
  outline: none;
}
</style>