<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-title>Añadir opción de pago</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-card class="card-form">
        <p class="payment-title">Antes de continuar debes de añadir una opción de pago</p>
        <ion-card-content>
          <CardNumber @change="cardDetails.number = $event.complete" 
            :stripe="stripeToken" class="card-input"/>
          <CardExpiry @change="cardDetails.expiry = $event.complete"
            :stripe="stripeToken" class="card-input"/>
          <CardCvc @change="cardDetails.cvc = $event.complete"
            :stripe="stripeToken" class="card-input"/>
          <ion-button class="payButton" expand="block" @click="savePaymentOption()">
            Guardar
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-content>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { createToken, CardNumber, CardExpiry, CardCvc } from 'vue-stripe-elements-plus'
import moment from 'moment'

export default {
  components: { CardNumber, CardExpiry, CardCvc },
  computed: {
    ...mapState("DarkMode", ["theme", "buttonTheme"]),
    ...mapState("User", ["user_token", "user"]),
    ...mapState("Subscriptions", ["selectedSubscription"])
  },
  data(){
    return {
      completed: false,
      // stripeToken: "pk_test_VbWseLOd4tgxjw08Q8zYTSqK00GI2WGM5l",
      stripeToken: "pk_live_Jcz6eHJPhwJ6k2GR5Fg6vhAn006Gbht8H0",
      cardDetails: {
        number: false,
        expiry: false,
        cvc: false
      }
    }
  },
  mounted(){
    // console.log(this.selectedSubscription)
    // console.log(moment().add(this.selectedSubscription.months, "months").format())
  },
  methods: {
    ...mapActions("User", ["setUserData", "setPaymentOption"]),
    async showAlert(message, successfulResponse){
      const alert = await this.$ionic.alertController.create({
        message,
        buttons: [{
          text: "Cerrar",
          handler: () => {
            if(successfulResponse){
              let user = this.user
              user.expiresDate = moment().add(this.selectedSubscription.months, "months").format()
              this.setUserData(user)
              this.setPaymentOption()

              setTimeout(() => {
                this.$router.push("/home/slides")
              }, 500)
            }
          }
        }]
      })

      alert.present()
    },
    async savePaymentOption(){
      try {
        const { token, error } = await createToken()

        if(token != undefined){
          this.purchaseSubscription(token)
          // this.showAlert(data.message, data.ok)
        }
        else {
          // console.log(error)
          this.showAlert(error.message)
        }
      } catch (error) {
        console.log(error)
      }
    },
    async purchaseSubscription(token){
      const alert = await this.$ionic.alertController.create({
        header: "Confirma tu compra",
        message: `¿Seguro que deseas comprar esta suscripción por $${this.selectedSubscription.price}?`,
        inputs: [
          {
            type: "checkbox",
            label: "Renovación automatica",
            value: true,
            checked: true
          }
        ],
        buttons: [
          {
            text: "Cancelar",
            role: "cancel"
          },
          {
            text: "Comprar",
            handler: async ($event) => {
              const recurringPayment = $event[0] ? true : false

              const { data } = await this.axios({
                url: "first-purchase",
                method: "POST",
                headers: {
                  authorization: `bearer ${this.user_token}`
                },
                data: {
                  subscription: this.selectedSubscription._id,
                  cardToken: token.id,
                  recurringPayment
                }
              })

              // console.log(data)
              this.showAlert(data.message, data.ok)
            }
          }
        ]
      })

      alert.present()
    }
  }
}
</script>
<style>
.card-input {
  border-radius: 0.2em;
  border: 1px solid #c2c2c2;
  padding: 1em;
  margin-top: 1em;
}
.payButton {
  margin-top: 2em;
}
.payment-title {
  margin: 1em;
  text-align: center;
}
</style>