<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start" @click="goBack">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Suscripción actual</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :color="theme">
      <p v-if="isExpired" class="expiration-details">Tu suscripción terminó el {{ expirationDate }}</p>
      <p v-else class="expiration-details">Tu suscripción terminará el {{ expirationDate }}</p>

      <p v-if="user.hasRecurringPayment" class="expiration-details">
        Tu suscripción se renovará automaticamente
      </p>
      <p v-if="!user.hasRecurringPayment && !isExpired" class="expiration-details">
        Una vez que tu suscripción acabe no se renovará automaticamente
      </p> 

      <ion-button expand="block" :color="buttonTheme" 
        v-if="user.hasRecurringPayment"
        @click="cancelSubscription()">
        Cancelar renovación automatica
      </ion-button>
      <!-- <ion-button expand="block" :color="buttonTheme" v-else>
        Activar renovación automatica
      </ion-button> -->

      <ion-button expand="block" :color=buttonTheme v-if="!user.hasRecurringPayment" @click="showSubscriptions()">
        Mostrar suscripciones
      </ion-button>
    </ion-content>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import moment from '../../../plugins/moment'

export default {
  data(){
    return {
      expirationDate: "",
      isExpired: false
    }
  },
  computed: {
    ...mapState("User", ["user", "user_token"]),
    ...mapState("DarkMode", ["theme", "buttonTheme"])
  },
  async mounted(){
    await this.getUserProfile({
      id: this.user.id,
      token: this.user_token
    })
    this.expirationDate = moment(this.user.expiresDate).format("DD/MMMM/YYYY")
    this.isExpired = moment(this.user.expiresDate).isBefore()
  },
  methods: {
    ...mapActions("User", ["getUserProfile"]),
    goBack(){
      this.$router.back()
    },
    showSubscriptions(){
      this.$router.push("/home/subscriptions")
    },
    async cancelSubscription(){
      const alert  = await this.$ionic.alertController.create({
        message: "¿Seguro que deseas cancelar tu suscripción?",
        buttons: [
          {
            role: "cancel",
            text: "No"
          },
          {
            text: "Si, cancelar",
            handler: async () => {
              const { data } = await this.axios({
                method: "GET",
                url: "/cancel-subscription",
                headers: {
                  authorization: `bearer ${this.user_token}`
                }
              })

              this.showAlert(data.message)
            }
          }
        ]
      })

      alert.present()
    },
    async showAlert(message){
      const alert = await this.$ionic.alertController.create({
        message,
        buttons: [
          {
            text: "Cerrar",
            handler: async () => {
              await this.getUserProfile({
                id: this.user.id,
                token: this.user_token
              })
            }
          }
        ]
      })

      alert.present()
    }
  }
}
</script>

<style>
.expiration-details {
  padding: 0.5em 1em;
  font-family: "Montserrat";
  text-align: center;
}
</style>