<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start" @click="goBack">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Actualizar tu contraseña</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :color="theme">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-icon name="lock" class="icon-info"></ion-icon>
          </ion-col>

          <ion-col>
            <h2 class="text-center">Solicita cambio de contraseña</h2>
            <p
              class="text-center"
            >Enviaremos un mensaje a tu correo electrónico con instrucciones para cactualizar tu contraseña</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
    <ion-footer :class="{'dark-footer': darkMode}">
      <ion-button
        :color="buttonTheme"
        expand="block"
        @click="requestResetPassword"
      >Solicitar cambio de contraseña</ion-button>
    </ion-footer>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "ForgotPassword",
  methods: {
    goBack() {
      return this.$router.back();
    },

    requestResetPassword() {
      const data = { email: this.user.email };

      this.axios
        .post("user/forgot", data, {
          headers: { Authorization: `Bearer ${this.user_token}` }
        })
        .then(resp => {
          // console.log(resp)
        })
        .catch(e => {
          // console.log(e)
        });
    }
  },

  computed: {
    ...mapState("User", ["user", "user_token"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  }
};
</script>

<style scoped>
.text-center {
  text-align: center;
}

.btn-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.icon-info {
  color: #3880ff;
  font-size: 6rem;
  display: block;
  margin: auto;
}
.dark-footer {
  background-color: #222222;
}
</style>