<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start" @click="goBack()">
          <ion-button>
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Pagos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :color="theme">
      <!-- {{ cards }} -->
      <ion-list :class="{'dark-theme': darkMode}" v-if="cards.length > 0">
        <ion-list-header :color="theme">
          <ion-label>Opciones disponibles</ion-label>
        </ion-list-header>
        <ion-item v-for="card in cards" :key="card.id" :color="theme" lines="none">
          <img :src="getCardBrand(card.brand)" :alt="card.brand">
          <ion-label class="card-details">
            **** {{ card.last4 }}
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-item v-else :color="theme" lines="none">
        <ion-label class="no-payment-option">
          Aún no tienes una opción de pago
        </ion-label>
      </ion-item>
      <ion-button :color="buttonTheme" fill="clear" 
        expand="block" @click="addPaymentOption()">
        <p v-if="cards.length > 0">
          Cambiar opción de pago
        </p>
        <p v-else>
          Agregar una opción de pago
        </p>
      </ion-button>
    </ion-content>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data(){
    return {
      cards: []
    }
  },
  computed: {
    ...mapState("DarkMode", ["theme", "buttonTheme", "darkMode"]),
    ...mapState("User", ["user_token"])
  },
  async mounted(){
    const { data } = await this.axios({
      method: "GET",
      url: "/customer",
      headers: {
        authorization: `bearer ${this.user_token}`
      }
    })
    // Tarjetas del usuario
    if(data.customer){
      this.cards = data.customer.sources.data
    }
    else {
      this.cards = []
    }
  },
  methods: {
    goBack(){
      this.$router.back()
    },
    addPaymentOption(){
      this.$router.push("/home/add-payment-option")
    },
    getCardBrand(brandName){
      let brand = ""

      switch(brandName){
        case "Visa":
          brand = "v"
        break;
        case "MasterCard":
          brand = "m"
        break;
        case "Discover":
          brand = "d"
        break;
        case "American Express":
          brand = "a"
        break;
        case "JCB":
          brand = "jcb"
        break;
        case "Diners Club":
          brand = "dc"
        break;
      }

      return `https://www.merchantequip.com/image/?bgcolor=222222&logos=${brand}&height=32`
    }
  }

}
</script>
<style>
.dark-theme {
  background-color: #222222;
}
.card-details {
  margin-left: 1em;
}
.no-payment-option {
  padding: 1em !important;
  text-align: center;
}
</style>