<template>
  <div class="ion-page">
    <ion-content :color="theme">
      <div class="primary">
        <div class="profile-header" style="text-align:center">
          <br />
          <img
            src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"
            class="profile-avatar"
          />
          <h1 class="white-text" style="margin-bottom: 0">{{ name }}</h1>
          <b class="white-text" style="font-size: 12px" v-if="user.type = 1">Administrador</b>
          <br />
          <br />
        </div>
        <div class="card ion-padding" :class="{'card-black': darkMode}">
          <br />
          <ion-list class="no-padding" :color="theme">
            <!-- editar email -->
            <ion-item :color="theme" class="ui-input-no-padding" @click="gotoUpdateProfile">
              <ion-label>{{name}}</ion-label>
            </ion-item>
            <ion-item :color="theme" class="ui-input-no-padding" @click="editEmail">
              <ion-label>{{user.email}}</ion-label>
            </ion-item>
            <!-- país -->
            <ion-item :color="theme" class="ui-input-no-padding">
              <ion-label>País</ion-label>
              <ion-select
                :value="_country"
                @ionChange="_country = $event.target.value"
                okText="Okay"
                cancelText="Dismiss"
                id="selectCountry">
                <ion-select-option
                  v-for="country in countries"
                  :key="country._id"
                  :value="country._id"
                >{{ country.name }}</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- Seleccion de tema ( oscuro / claro ) -->
            <ion-item :color="theme" class="ui-input-no-padding">
              <ion-label>Tema</ion-label>
              <ion-select :value="themeMode" @ionChange="changeTheme($event.target.value)">
                <ion-select-option value="oscuro">Oscuro</ion-select-option>
                <ion-select-option value="claro">Claro</ion-select-option>
              </ion-select>
            </ion-item>
            <!-- cambiar contraseña -->
            <ion-item :color="theme"
              class="ui-input-no-padding"
              @click="$router.push('/forget')"
            >Cambiar Contraseña</ion-item>
            <!-- cerrar sesión -->
            <!-- <ion-item class="ui-input-no-padding" @click="presentActionSheet">Cerrar Sessión</ion-item> -->
          </ion-list>
          <ion-button :color="buttonTheme" expand="block" @click="showPaymentOptions()">
            Opciones de pago
          </ion-button>
          <!-- <ion-button :color="buttonTheme" expand="block" @click="showSubscriptions()">
            Suscripciones
          </ion-button> -->
          <ion-button :color="buttonTheme" expand="block" @click="showCurrentSubscription()">
            Suscripción
          </ion-button>
          <ion-button :color="buttonTheme" expand="block" @click="presentActionSheet">
            Cerrar Sessión
          </ion-button>
        </div>
      </div>
    </ion-content>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "profile",
  data() {
    return {
      themeMode: "oscuro"
    };
  },
  computed: {
    ...mapState("User", ["user", "user_token"]),
    ...mapState("Country", ["countries"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"]),

    name() {
      return `${this.user.firstName}  ${this.user.lastName}`;
    },
    _country: {
      get() {
        return this.user.country._id;
      },
      set(value) {
        const country = this.countries.filter(data => data._id == value)[0]
        this.user.country = country;
        this.updateProfile([this.user, this.user_token, this.user.id]);
      }
    }
  },

  methods: {
    ...mapActions("Country", ["getAllCountries"]),
    ...mapActions("User", ["SignOut", "updateProfile", "getUserProfile"]),
    ...mapActions("DarkMode", ["_changeTheme"]),
    /* ...mapActions("User", ["getUserProfile"]), */

    presentActionSheet() {
      return this.$ionic.actionSheetController
        .create({
          header: "¿Cerrar Sesión?",
          buttons: [
            {
              text: "Cerrar Sesión",
              role: "destructive",
              handler: () => {
                this.SignOut();
              }
            },

            {
              text: "Cancelar",
              role: "cancel"
            }
          ],
          cssClass: "dark-action-sheet"
        })
        .then(a => a.present());
    },

    gotoUpdateProfile() {
      this.$router.push("/update-profile");
    },

    editEmail() {
      return this.$router.push("/change-email");
    },

    changePassword() {
      return this.$router.push("/change-password");
    },
    changeTheme(theme){ // change theme
      // this.themeMode = this.darkMode ? "oscuro" : "claro"
      this._changeTheme(theme)
    },
    showSubscriptions(){
      this.$router.push("/home/subscriptions")
    },
    showCurrentSubscription(){
      this.$router.push("/home/subscription")
    },
    showPaymentOptions(){
      this.$router.push("/home/payment-options")
    }
  },
  async mounted() {
    this.themeMode = this.darkMode ? "oscuro" : "claro"
    await this.getAllCountries();
  }
};
</script>

<style>
.editable-profile-input {
  display: flex;
  flex-direction: row-reverse;
}

.full-height {
  height: 100vh;
}

.mt {
  margin-top: 1rem;
}

.dnone {
  display: none;
}

.center {
  text-align: center;
}

.height {
  height: 70px;
}

.width {
  width: 70px;
}

.fondo {
  padding-bottom: 70px;
}

.profile-avatar {
  border-radius: 50%;
}

.card {
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -1px -5px rgba(0, 0, 0, 0.5);
  background: white;
  overflow: hidden;
}

.card-black {
  background-color: #222222 !important;
  color: white;
}

.no-padding {
  padding: 0;
}

.profile-header {
  margin-bottom: 15px;
}

.dark-action-sheet .action-sheet-group {
  background-color: #333333 !important;
  color: white !important;
}
.dark-action-sheet .action-sheet-group .action-sheet-title,
.dark-action-sheet .action-sheet-group .action-sheet-button {
  color: white !important;
}
.dark-action-sheet .action-sheet-cancel {
  background-color: #333333;
}
</style>