<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-title>Actualiza tu nombre</ion-title>
        <ion-buttons slot="start" @click="goBack">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content :color="theme">
      <ion-item class="ui-input-no-padding" :color="theme">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input
          :value="userEdited.firstName"
          @input="userEdited.firstName = $event.target.value"
        />
      </ion-item>

      <ion-item class="ui-input-no-padding" :color="theme">
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input :value="userEdited.lastName" @input="userEdited.lastName = $event.target.value" />
      </ion-item>

      <ion-button class="mt" expand="block" :color="buttonTheme" @click="updateProfileRequest">
        Actualizar
      </ion-button>
    </ion-content>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "UpdateUserProfile",

  mounted() {
    this.userEdited.expiresDate = this.user.expiresDate;
    this.userEdited.type = this.user.type;
    this.userEdited.firstName = this.user.firstName;
    this.userEdited.lastName = this.user.lastName;
    this.userEdited.country = this.user.country;
    this.userEdited.email = this.user.email;
  },

  methods: {
    ...mapActions("User", ["updateProfile"]),

    goBack() {
      return this.$router.back();
    },

    async updateProfileRequest() {
      let response = this.updateProfile([
        this.userEdited,
        this.user_token,
        this.user.id
      ]);
      await response;
      if (response) {
        this.goBack();
      }
    }
  },

  computed: {
    ...mapState("User", ["user", "user_token"]),
    ...mapState("DarkMode", ["theme", "buttonTheme"])
  },

  data() {
    return {
      userEdited: {
        firstName: null,
        lastName: null,
        country: null,
        expiresDate: null,
        type: null,
        email: null
      }
    };
  }
};
</script>

<style scoped>
.text-center {
  text-align: center;
}
</style>