@font-face {
    font-family: 'Moon 2.0 Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Moon 2.0 Regular'), url('Moon2.0-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Moon 2.0 Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Moon 2.0 Bold'), url('Moon2.0-Bold.woff') format('woff');
}

@font-face {
    font-family: 'Moon 2.0 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Moon 2.0 Light'), url('Moon2.0-Light.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Next Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Medium'), url('AvenirNextLTPro-Medium.otf') format('otf');
}

@font-face {
    font-family: 'Avenir Next Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Next Regular'), url('AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
    font-family: "Avenir Next Bold";
    font-style: normal;
    font-weight: normal;
    src: local("AvenirNextLTPro-Bold"), url("AvenirNextLTPro-Bold.otf") format("otf");
}

.white-text {
    color: #fff;
}

.primary-text {
    color: #428dff
}

.primary {
    background: #428dff
}

.dark-mode {
    background-color: #222222;
    color: white;
}

/* .ion-color-dark-mode {
--ion-color-base: #222222;
--ion-color-base-rgb: 34,34,34;
--ion-color-contrast: #ffffff;
--ion-color-contrast-rgb: 255,255,255;
--ion-color-shade: #1e1e1e;
--ion-color-tint: #383838;
} */

.alert-wrapper {
    background-color: #222222 !important;
    color: white !important;
}

.sc-ion-alert-md, .sc-ion-alert-ios {
    color: white !important;
}

.alert-button-inner {
    color: blue !important;
}

.ion-color-dark-mode {
    --ion-color-base: #222222;
    --ion-color-base-rgb: 34,34,34;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255,255,255;
    --ion-color-shade: #FFFFFF;
    --ion-color-tint: #FFFFFF;
}

.ion-color-white {
    --ion-color-base: #FFFFFF;
    --ion-color-base-rgb: 255,255,255;
    --ion-color-contrast: #000000;
    --ion-color-contrast-rgb: 0,0,0;
    --ion-color-shade: #c4c4c4;
    --ion-color-tint: #c4c4c4;
}

.ion-color-navigation-bar-light {
    --ion-color-base: #FFFFFF;
    --ion-color-base-rgb: 255, 255, 255;
    --ion-color-contrast: rgb(56, 128, 255);
    --ion-color-contrast-rgb: 102, 102, 102;
    --ion-color-shade: #666666;
    --ion-color-tint: #666666;
}

.ion-color-navigation-bar-dark {
    --ion-color-base: #222222;
    --ion-color-base-rgb: 34, 34, 34;
    --ion-color-contrast: rgb(56, 128, 255);
    --ion-color-contrast-rgb: 196, 196, 196; /* 196 */
    --ion-color-shade: #3171e0;
    --ion-color-tint: #4c8dff;
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}