<template>
  <div>
    <div class="ion-padding">
      <b class="primary-text">{{title}}</b>
    </div>
    <div class="container" @scroll="scrolling()" :ref="title">
      <div
        @click="details(content._id)"
        :key="content._id"
        v-for="(content) in selectedContents"
        class="content"
      >
        <img :src="makeUrlImageThumb(content.thumbnail.large)" alt />
        <div
          style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;margin-top:-22px; padding: 0 5px;  text-shadow: 0px 1px 7px rgba(0, 0, 0, 1); color: white;"
        >{{content.title}}</div>
      </div>
    </div>
  </div>
</template>
<script>
import { contentEventBus } from '../../../../modules/content/content.eventbus'

export default {
  name: "carousel",
  props: ["contents", "title", "noDestacate"],
  data() {
    return {
      selectedContents: [],
      lastIndex: 0,
      nextIndex: 5
    };
  },
  mounted() {
    this.getMore();

    // if(this.noDestacate){
      contentEventBus.$on("categoryChanged", () => {
        // console.log("Changed content")
        setTimeout(() => {
          this.lastIndex = 0
          this.nextIndex = 5
          this.selectedContents = []
          this.getMore()
        }, 500)
      })
    // }
  },
  methods: {
    makeUrlImageThumb(url) {
      return `http://165.227.55.182:3000/${url}`;
    },
    details(id) {
      return this.$router.push(`/content/${id}`);
    },
    scrolling() {
      let slideContainer = this.$refs[this.title];

      var scrollData = {
        scroll: slideContainer.scrollLeft,
        el: slideContainer,
        total: slideContainer.scrollLeft + slideContainer.offsetWidth,
        totalScroll: slideContainer.scrollWidth
      };

      if (scrollData.total >= (scrollData.totalScroll - 50)) {
        this.getMore();
      }
    },
    getMore() {
      const items = this.contents.slice(this.lastIndex, this.nextIndex);
      this.selectedContents.push(...items);
      this.lastIndex = this.nextIndex;
      this.nextIndex += 5;
    }
  }
};
</script>

  <style scoped>
.container {
  overflow: auto;
  white-space: nowrap;
  height: 150px;
}
.container .content {
  vertical-align: top;
  display: inline-block;
  padding: 8px 3px;
  width: 100px;
  height: 139.25px;
  font-size: 13px;
}
</style>