
<template>
  <div>
    <div class="ion-padding">
      <b class="primary-text">{{title}}</b>
    </div>
    <div class="container">
      <div
        @click="details(content._id)"
        :key="index"
        v-for="(content, index) in contents"
        class="content"
      >
        <img :src="makeUrlImageThumb(content.thumbnail.small)" alt />
        <div
          style=" white-space: nowrap; overflow: hidden; text-overflow: ellipsis;margin-top:-22px; padding: 0 5px;  text-shadow: 0px 1px 7px rgba(0, 0, 0, 1); color: white;"
        >{{content.title}}</div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "carousel",
  props: ["contents", "title"],
  computed: {},
  methods: {
    makeUrlImageThumb(url) {
      return `http://165.227.55.182:3000/${url}`;
    },
    details(id) {
      return this.$router.push(`/content/${id}`);
    }
  }
};
</script>

  <style scoped>
.container {
  overflow: auto;
  white-space: nowrap;
}
.container .content {
  display: inline-block;
  padding: 8px 3px;
  width: 160px;
}
</style>
