<template>
  <div v-if="music">
    <div class="ion-padding">
      <b class="primary-text">Reproduce Música</b>
    </div>
    <Player :content="music" />
  </div>
</template>
<script>
import { mapGetters } from "vuex";

import Player from "@/views/contents/Player.vue";
export default {
  components: {
    Player
  },
  computed: {
    ...mapGetters("Content", ["contents"]),
    music() {
      return this.contents.find(contents => {
        return contents.section._id == "5d534477bb469f36cd4788ad";
      });
    }
  }
};
</script>