<template>
  <ion-content>
    <ion-slides pager="true" :options="slideOpts" class="full-height background-slide">
      <ion-slide :key="index" v-for="(slide, index) in slides">
        <div class="padding-slide" v-if="index == 0">
          <h1 class="white-text slide-title-welcome">{{slide.title}}</h1>
          <img :src="require(`@/assets/img/${slide.img}`)" style="width: 320px !important" />
          <div v-if="index == slides.length-1">
            <ion-button color="light" @click="$router.push('/register')" expand="block">
              <ion-icon slot="start" class="primary-text" name="person-add"></ion-icon>
              <span class="primary-text">Suscríbete ahora</span>
            </ion-button>

            <ion-button @click="$router.push('/login')" expand="block">
              <ion-icon slot="start" name="person"></ion-icon>Iniciar sesion
            </ion-button>
          </div>
        </div>
        <div class="padding-slide" v-else>
          <img :src="require(`@/assets/img/${slide.img}`)" style="width: 320px !important" />
          <h1 class="white-text slide-title">{{slide.title}}</h1>
          <p class="white-text slide-description">{{slide.description}}</p>
          <div v-if="index == slides.length-1" class="buttons">
            <ion-button color="light" @click="$router.push('/register')" expand="block">
              <ion-icon slot="start" class="primary-text" name="person-add"></ion-icon>
              <span class="primary-text">Suscríbete ahora</span>
            </ion-button>
            <ion-button @click="$router.push('/login')" expand="block">
              <ion-icon slot="start" name="person"></ion-icon>Iniciar sesion
            </ion-button>
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
</template>

<script>
export default {
  data() {
    return {
      slideOpts: {
        initialSlide: 1,
        speed: 400
      },
      slides: [
        {
          img: "bienvenidos.png",
          title: "Desliza para continuar",
          description: ""
        },
        {
          img: "bienvenidos.png",
          title: "Bienvenido a VIDAFLIX",
          description: ""
        },
        {
          img: "canales.png",
          title: "CANALES DE TV",
          description:
            "Disfrute canales de TV cristianos de todo el mundo en un solo lugar "
        },
        {
          img: "mensaje.png",
          title: "MENSAJES",
          description:
            "Selectos mensajes de los más importantes oradores del mundo bendeciran su vida"
        },
        {
          img: "musica.png",
          title: "MÚSICA",
          description:
            "La mejor videoteca musical cristiana, sin cortes, sin publicidad"
        },
        {
          img: "peliculas.png",
          title: "PELÍCULAS",
          description:
            "Disfrute de películas con contenido cristiano como en ninguna plataforma digital"
        },
        {
          img: "radios.png",
          title: "RADIOS",
          description:
            "Encontrará una selección de radios cristianas con música, mensajes y todo lo que se necesite"
        },
        {
          img: "bienvenidos.png",
          title: "SUSCRÍBETE",
          description: ""
        }
      ]
    };
  }
};
</script>

<style >
.slide-title-welcome {
  font-family: "Avenir Next Regular";
  font-weight: bold;
  font-size: 1.3em;
}
.slide-title {
  font-family: "Rubik";
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.slide-description {
  font-family: "Moon 2.0 Regular";
  font-size: 1em;
  font-weight: bold;
  width: 90%;
  margin: auto;
}
.full-height {
  height: 100vh;
}

.background-slide {
  background-color: black;
  /* background-color: #428dff; */
  /* background-image: url("../../assets/img/background/bg2.svg"); */
  /* box-shadow: inset 0px 1px 100px rgba(60, 137, 255, 0.2); */
}

.padding-slide {
  padding: 30px;
  /* margin-bottom: 2em; */
}
.buttons {
  margin-bottom: 2em;
  margin-top: 1em;
}
</style>