<template>
  <div class="ion-page">
    <ion-content :color="theme">
      <ion-list :color="theme" class="no-padding">
        <ion-item
          :color="theme"
          class="ui-input-no-padding"
          v-for="category in categories"
          :key="category._id"
          @click="changeHomeSection(category.name,category._id)">
          <ion-label :color="buttonTheme">
            <p class="font-1rem">{{ category.name }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from "vuex";
import router from "../../../router";

import Modal from "../../contents/Modal";

export default {
  name: "CategoriesTab",

  async created() {
    await this.getCategories();
  },

  methods: {
    ...mapActions("Categories", ["getAllCategories"]),
    ...mapActions("Content", ["getSections"]),
    ...mapMutations("Content", ["setHomeSection"]),

    changeHomeSection(sectionName, sectionId) {
      this.setHomeSection({ sectionName, sectionId });
      this.$router.push("/home/slides");
    },

    async getCategories() {
      await this.getAllCategories(this.user_token);
    },

    async getCategoriesBySectionId(id) {
      return await this.getSections({
        id,
        token: this.user_token
      });
    },

    goToContentCategory(id) {
      this.$router.push(`/category/${id}`);
    },

    async openModal(sectionName, sectionId) {
      const sections = await this.getCategoriesBySectionId(sectionId);

      return this.$ionic.modalController
        .create({
          component: Modal,
          componentProps: {
            data: {
              sectionId,
              sections
            },
            propsData: {
              title: sectionName
            }
          }
        })
        .then(m => m.present());
    }
  },

  computed: {
    ...mapState("User", ["user_token"]),
    ...mapState("Categories", ["categories"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  }
};
</script>

<style scoped>
.title {
  margin-left: 1rem;
  font-size: 2.5rem;
  font-weight: bold;
}

.primary-text {
  color: #428dff !important;
}

.font-1rem {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.no-padding {
  padding: 0;
}
</style>