<template>
  <div class="ion-page">
    <ion-header translucent>
      <ion-toolbar :color="theme">
        <ion-title>Favoritos</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content v-if="favorites !== null && favorites.length >0" :color="theme">
      <ion-item
        :color="theme"
        v-for="favorite in favorites"
        :key="favorite._id"
        @click="goToContentCategory(favorite.content._id)"
      >
        <ion-thumbnail slot="start">
          <img :src="makeUrlImageThumb(favorite.content.thumbnail.small)" />
        </ion-thumbnail>
        <ion-label :color="buttonTheme">{{ favorite.content.title }}</ion-label>
      </ion-item>
    </ion-content>

    <ion-content v-else :color="theme">
      <h2 class="title">No tienes favoritos</h2>
    </ion-content>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "FavoriteTab",

  async mounted() {
    await this.Favorite();
  },

  methods: {
    ...mapActions("Content", ["getFavorites"]),

    async Favorite() {
      this.favorites = await this.getFavorites({
        token: this.user_token,
        userId: this.user.id
      });
      // console.log(this.favorites);
    },

    makeUrlImageThumb(url) {
      return `http://165.227.55.182:3000/${url}`;
    },

    goToContentCategory(id) {
      this.$router.push(`/content/${id}`);
    }
  },

  computed: {
    ...mapState("User", ["user_token", "user"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  },

  data() {
    return {
      favorites: null
    };
  }
};
</script>

<style scoped>
.title {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
</style>