<template >
  <div class="ion-page">
    <ion-header translucent>
      <ion-toolbar :color="theme">
        <ion-title>Notificaciones</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :color="theme">
      <!-- <ion-item
        class="ui-input-no-padding"
        v-if="notifications !== null && notifications.length > 0"
      ></ion-item> -->
      <ion-list v-if="notificationsCounter > 0" :color="theme" class="no-padding">
        <!-- Header para las notificaciones recientes (No vistas) -->
        <ion-list-header v-if="newNotifications.length != 0" :color="theme">
          <ion-label :color="buttonTheme">Notificaciones pendientes</ion-label>
        </ion-list-header>
        <ion-item v-for="notification in newNotifications" :key="notification._id" :color="theme">
          <ion-label class="notification-text">
            {{ notification.text }}
          </ion-label>
        </ion-item>
        <!-- Header para las notificaciones que ya se vieron -->
        <ion-list-header :color="theme">
          <ion-label :color="buttonTheme">Notificaciones antiguas</ion-label>
        </ion-list-header>
        <ion-item v-for="notification in olderNotifications" :key="notification._id" :color="theme">
          <ion-label class="notification-text" :color="buttonTheme">
            {{ notification.text }}
            <!-- <ion-icon icon="trash" color="danger" size="small"></ion-icon> -->
          </ion-label>
        </ion-item>
      </ion-list>
      <div v-else>
        <h3 class="text-center">No hay notificaciones</h3>
      </div>
      <p hidden>
        {{ newNotifications }}
      </p>
    </ion-content>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "NotificationsTab",
  async mounted() {
    await this.getNotifications()
  },
  async updated(){
    await this.getNotifications()
  },
  methods: {
    // Manda una peticion para marcar las notificaciones "no vistas" a "vistas"
    async updateNewNotifications(){
      try {
        await this.axios({
          url: "/notifications",
          method: "PUT",
          data: {
            notifications: this.newNotifications, // Notificaciones pendientes
            update: { // Actualizacion
              seen: true
            }
          },
          headers: { Authorization: `bearer ${this.user_token}` }
        })
      } catch (error) {
        // console.log(error)
      }
    },
    getNotifications(){
      this.notifications.push(...this.olderNotifications)
      this.notifications.push(...this.newNotifications)
      this.notificationsCounter = this.olderNotifications.length + this.newNotifications.length

      this.updateNewNotifications()
    }
  },
  computed: {
    ...mapState("User", ["user_token", "user"]),
    ...mapState("Notifications", ["olderNotifications", "newNotifications"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  },

  data() {
    return {
      notificationsCounter: 0,
      notifications: []
    };
  }
};
</script>

<style scoped>
.title {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}
.text-center {
  text-align: center;
}
.notification-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.no-padding {
  padding: 0;
}
</style>