<template>
  <div class="ion-page">
    <ion-header translucent :color="theme">
      <ion-toolbar translucent :color="theme">
        <ion-title>Buscar</ion-title>
      </ion-toolbar>
      <ion-toolbar translucent :color="theme">
        <ion-searchbar placeholder="Buscar" @keydown="search" :color="theme"/>
      </ion-toolbar>
    </ion-header>
    <ion-content :color="theme">
      <ion-list class="no-padding">
        <ion-item
        :color="theme"
          v-for="content in contents"
          :key="content._id"
          @click="goToContentCategory(content._id)">
          <ion-thumbnail slot="start">
            <img :src="makeUrlImageThumb(content.thumbnail.small)" />
          </ion-thumbnail>
          <ion-label :color="buttonTheme">{{ content.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Search",

  methods: {
    makeUrlImageThumb(url) {
      return `http://165.227.55.182:3000/${url}`;
    },

    async search(val) {
      const query = val.target.value;

      const contents = await this.axios.get("/search?search=" + query, {
        headers: { Authorization: `Bearer ${this.user_token}` }
      });

      if (contents.data[0]) {
        this.contents = contents.data[0];
      }
    },

    goToContentCategory(id) {
      this.$router.push(`/content/${id}`);
    }
  },

  computed: {
    ...mapState("User", ["user_token"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  },

  data() {
    return {
      contents: []
    };
  }
};
</script>
<style>
.no-padding {
  padding: 0;
}
</style>