<template>
  <div class="ion-page">
    <!--DON'T DELETE CONDITION IS CHECKING THAT THE CONTENT ISN'T NULL-->
    <ion-content v-if="randomContentDestacate !== undefined" :color="theme">
      <div class="sections-logo">
        <div
          v-if="homeSectionName != 'home'"
          style="text-shadow:0px 1px 5px rgba(0,0,0,.5); font-size:20px; vertical-align:middle; display:inline-block">
          <ion-icon
            @click="homeSliders()"
            style="font-size:20px; padding-right: 10px; vertical-align:middle"
            name="arrow-back">
          </ion-icon>
          <div style="display:inline-block; vertical-align:middle">{{homeSectionName}}</div>
        </div>
        <img
          style="vertical-align:middle; display:inline-block"
          v-else
          src="@/assets/img/logo_white.png"
          alt="none"
          class="logo"/>
        <div style="vertical-align:middle; display:inline-block;" class="container">
          <div
            v-for="section in sections"
            :key="section._id"
            class="content"
            style="vertical-align:middle; display:inline-block; margin-top:5px"
            @click="changeHomeSection(section.name, section._id)"
          >{{ section.name }}</div>
        </div>
      </div>

      <ion-slides class="destacate-slides">
        <div v-for="content in contentDestacate" :key="content._id" class="destacate-content-slide">  
          <figure class="destacate-content-image">
            <img :src="makeUrlImageThumb(content.thumbnail.large)">
          </figure>
          <div class="awesome-content-text">
            <b class="destacate-title">{{content.title}}</b>
            <span class="destacate-text">{{content.category.name}}</span>
            <ion-button :color="buttonTheme" @click="details(content._id)">
              Reproducir
            </ion-button>
          </div>
        </div>
      </ion-slides>

      <div class="card" :class="{'card-black': darkMode}">
        <br />
        <!-- <PeopleCarousel :contents="contents" /> -->
        <!-- <Carousel title="Lo más destacado" :contents="contentDestacate" /> -->
        <Carousel title="Lo más nuevo" :contents="contentNoDestacate"/>
        <PlayMusic />
        <Carousel
          :key="index"
          v-for="(category, index) in categories"
          :title="JSON.parse(category).name"
          :contents="buildContentsByCategory(category)"/>
      </div>
    </ion-content>
  </div>
</template>
<script>
// background image 
// background: url(${makeUrlImageThumb(randomContentDestacate.thumbnail.large)})
import { mapState, mapActions, mapMutations, mapGetters } from "vuex";
import PlayMusic from "./components/PlayMusic";
import PeopleCarousel from "./components/PeopleCarousel";
import Carousel from "./components/Carousel";
import Modal from "../../contents/Modal";
export default {
  name: "Slides",
  components: { Carousel, PlayMusic, PeopleCarousel },
  data() {
    return {
      sections: null,
      slideOpts: {
        initialSlide: 1,
        speed: 400
      },
      slidesBackground: "",
      firstSlide: false,
      sectionContentDestacate: []
    };
  },
  computed: {
    ...mapState("User", ["user_token"]),
    ...mapState("Content", ["homeSectionName"]),
    ...mapGetters("Content", ["contents", "contentDestacate"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"]),
    contentNoDestacate() {
      return this.contents.filter(content => {
        return content.active == false;
      });
    },
    randomContentDestacate() {
      let el = Math.floor(Math.random() * (this.contents.length - 0)) + 0;
      return this.contents[el];
    },
    categories() {
      var categories = this.contents.map(content => {
        return JSON.stringify(content[this.homeType]);
      });
      return [...new Set(categories)];
    },
    homeType( ) {
      if (this.homeSectionName != "home") {
        return "category";
      } else {
        return "section";
      }
    }
  },
  methods: {
    ...mapActions("Content", ["getAllContents", "getSections"]),
    ...mapMutations("Content", ["setHomeSection"]),

    buildContentsByCategory(category) {
      let theContent = JSON.parse(category);
      return this.contents.filter(content => {
        return content[this.homeType]._id == theContent._id;
      });
    },

    changeHomeSection(sectionName, sectionId) {
      this.setHomeSection({ sectionName, sectionId });
      // console.log(this.contentDestacate)
      // this._contentDestacate()
    },

    homeSliders() {
      // console.log(this.contentDestacate)
      this.setHomeSection({ sectionName: "home" });
    },

    changeBackgroundSlides() {
      this.$refs.destacateSlides.getActiveIndex().then(response => {
        let activeSlideContent = this.contents[response];
        let background = `background: url(${this.makeUrlImageThumb(
          activeSlideContent.thumbnail.large
        )});`;
        this.slidesBackground = background;
      });
    },

    async openModal(sectionName, sectionId) {
      const sections = await this.getCategoriesBySectionId(sectionId);

      return this.$ionic.modalController
        .create({
          component: Modal,
          componentProps: {
            data: {
              sectionId,
              sections
            },
            propsData: {
              title: sectionName
            }
          }
        })
        .then(m => m.present());
    },

    async setSections() {
      const response = await this.axios.get("/section", {
        headers: { Authorization: `Bearer ${this.user_token}` }
      });

      this.sections = response.data.data;
    },

    async getCategoriesBySectionId(id) {
      return await this.getSections({
        id,
        token: this.user_token
      });
    },

    makeUrlImageThumb(url) {
      return `http://165.227.55.182:3000/${url}`;
    },

    details(id) {
      return this.$router.push(`/content/${id}`);
    },
    
    scrolling(){
      // console.log("Scroll")
    },
    _getContentDestacate() {
      console.log(this.contents)
      const contentCategory = this.contents.filter(content => {
        return content.active == true;
      });

      console.log("Destacated: ", contentCategory)

      this.sectionContentDestacate = contentCategory
    }
  },
  async mounted() {
    // this._contentDestacate()
    await this.setSections();
    await this.getAllContents(this.user_token);
    // this._getContentDestacate()
    // console.log(this.contentDestacate)
    // // console.log(this.contentDestacate)
  }
};
</script>
<style>
.destacate-slides {
  padding: 0 !important;
  /* border: 0 solid red; */
  min-width: 100% !important;
}
.destacate-content-slide {
  /* border: 1em solid black; */
  min-width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: inset 0px 1px 50px 10px rgba(0,0,0,.5);
  height: 85vh;
}
.destacate-content-image {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  position: absolute;
}
.slide-content-transparent,
.slide-content-transparent * {
  background: transparent;
}

.logo {
  width: 4rem;
}

.fixed-image {
  background-size: 100% !important;
}

.sections-logo {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: white;
  margin-bottom: -3.7em;
}

.card {
  border-radius: 20px 20px 0 0;
  box-shadow: 0px -1px -5px rgba(0, 0, 0, 0.5);
  margin-top: -20px;
  background: white;
  overflow: hidden;
}
.dashboard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.destacate-title {
  width: 100%;
  display: block;
  font-size: 30px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 1);
  color: white;
  z-index: 1;
  position:fixed;
  margin-bottom: 2em;
  bottom: 2em;
}

.awesome-content-text {
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 1em;
}

.destacate-text {
  display: block;
  position: fixed;
  margin-top: 1em;
  width: 100%;
  font-size: 15px;
  text-shadow: 0px 1px 7px rgba(0, 0, 0, 1);
  color: white;
  bottom: 6em;
}
</style>
<style scoped>
.container {
  overflow: auto;
  white-space: nowrap;
  width: 50vw;
}
.container .content {
  display: inline-block;
  padding: 14px 9px;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6);
}
.card-black {
  background-color: black !important;
}
</style>
