<template>
  <div class="ion-page">
    <!-- <ion-header>
      <ion-toolbar>
        <ion-buttons slot="primary">
          <ion-button color="primary">
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Inicio</ion-title>
      </ion-toolbar>
    </ion-header>-->

    <ion-content :color="theme">
      <ion-tabs>
        <ion-tab tab="/home/slides">
          <Slides />
        </ion-tab>

        <ion-tab tab="/home/categories">
          <categories-tab />
        </ion-tab>

        <ion-tab tab="/home/search">
          <Search />
        </ion-tab>

        <ion-tab tab="/home/favorite">
          <FavoriteTab />
        </ion-tab>

        <ion-tab tab="/home/notifications">
          <NotificationsTab />
        </ion-tab>

        <ion-tab tab="/home/profile">
          <Profile />
        </ion-tab>

        <ion-tab-bar translucent slot="bottom" :color="navigationBar">
          <ion-tab-button tab="/home/slides" >
            <ion-icon name="home"></ion-icon>
            <!--<ion-label>Inicio</ion-label>-->
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>

          <ion-tab-button tab="/home/favorite">
            <ion-icon name="star"></ion-icon>
            <!--<ion-label>Favoritos</ion-label>-->
          </ion-tab-button>

          <ion-tab-button tab="/home/search">
            <ion-icon name="search"></ion-icon>
            <!--<ion-label>Buscar</ion-label>-->
          </ion-tab-button>

          <ion-tab-button tab="/home/categories">
            <ion-icon name="list"></ion-icon>
            <!--<ion-label>Categorias</ion-label>-->
            <!-- <ion-badge>6</ion-badge> -->
          </ion-tab-button>

          <ion-tab-button tab="/home/notifications">
            <!--HERE-->
            <ion-icon name="notifications"></ion-icon>
            <ion-badge>{{ notificationsCounter }}</ion-badge>
            <!--<ion-label>Notificaciones</ion-label>-->
          </ion-tab-button>

          <!-- Provide a custom route to navigate to -->
          <ion-tab-button tab="/home/profile">
            <ion-icon name="person"></ion-icon>
            <!-- <ion-label>Perfil</ion-label>-->
          </ion-tab-button>

          <!-- Provide extra data to route -->
          <!-- <ion-tab-button tab="map">
              <ion-icon name="map"></ion-icon>
              <ion-label>Map</ion-label>
          </ion-tab-button>-->

          <!-- Provide custom click handler -->
          <!-- <ion-tab-button tab="about">
              <ion-icon name="information-circle"></ion-icon>
              <ion-label>About</ion-label>
          </ion-tab-button>-->
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>

    <!-- <slides></Slides>
            <Tabs></Tabs>
    -->
  </div>
</template>
<script>
import Vue from 'vue'
import Slides from "./slides/Slides.vue";
import Profile from "./profile/Profile.vue";
import CategoriesTab from "./slides/CategoriesTab";
import FavoriteTab from "./slides/FavoriteTab";
import Search from "./slides/Search";
import NotificationsTab from "./slides/NotificationsTab";
import { mapActions, mapState } from 'vuex'

export default {
  components: {
    NotificationsTab,
    Search,
    FavoriteTab,
    CategoriesTab,
    Slides,
    Profile
  },
  data(){
    return {
      notifications: [],
      olderNotifications: [],
      newNotifications: [],
      notificationsCounter: 0
    }
  },
  computed: {
    ...mapState("User", ["user_token", "user"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme", "navigationBar"])
  },
  created(){
    this.getNotifications()
  },
  mounted(){
    this._getSubscriptions(this.user_token)

    try {
      Vue.prototype.$push.on("notification", data => {
        // alert("notificacion, Home tab")
        this.getNotifications()
      })
    } catch (error) {}
  },
  methods: {
    ...mapActions("Notifications", ["_saveNotifications"]),
    ...mapActions("Subscriptions", ["_getSubscriptions"]),
    async getNotifications() {
      try {
        const response = await this.axios.get(`/notification/${this.user.id}`, {
          headers: { Authorization: `Bearer ${this.user_token}` }
        });
        
        // this.notifications = response.data.data;
        this.notifications = response.data.data
        // Filtro de notificaciones (vistas / no vistas)
        this.olderNotifications = this.notifications.filter(notification => notification.seen)
        this.newNotifications = this.notifications.filter(notification => !notification.seen)
        this.notificationsCounter = this.newNotifications.length

        this._saveNotifications({
            olderNotifications: this.olderNotifications,
            newNotifications: this.newNotifications
        })

        // // console.log(this.notifications)
      } catch (e) {
        // console.log(e);
      }
    },
  }
};
</script>

<style>
.full-height {
  height: 100vh;
}
.center {
  text-align: center;
}
</style>