<template>
  <div id="app">
    <ion-app>
      <ion-vue-router/>
    </ion-app>
  </div>
</template>

<script>
import Vue from 'vue'
import { mapActions } from 'vuex'
/* const options = {
  android: {},
  ios: {
      alert: 'true',
      badge: true,
      sound: 'false'
  },
  windows: {},
  browser: {
      pushServiceURL: 'http://push.api.phonegap.com/v1/push'
  }
} */

export default {
  methods: {
    ...mapActions("Firebase",["_setToken"]),
    ...mapActions("Subscriptions", ["_getSubscriptions"])
  },
  async mounted(){
    this._getSubscriptions()
    
    setTimeout(() => {
      try {
        Vue.prototype.$push = PushNotification.init({
          android: {
            forceShow: false
          },
          ios: {
            alert: true,
            badge: true,
            sound: true
          }
        })
        // Guarda el token en el local storage y una vez que se inicia sesion
        // se manda al servidor
        Vue.prototype.$push.on("registration", data => {
          this._setToken(data.registrationId)
          // alert(data.registrationId)
        })
      } catch (error) {
        /* // console.log(error)
        alert(error) */
      }
    }, 4000)
  }
}
</script>

<style>
@import url("./assets/css/vue2-editor.css");
@import url("./assets/css/style.css");
.ui-input-no-padding {
  --padding-start: 0px;
}
</style>