<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start" @click="goBack">
          <ion-button :color="buttonTheme">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Olvide mi contraseña</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding" :color="theme">
      <p
        class="ion-text-center"
      >Te enviaremos un correo electrónico con las instrucciones para reestablecer tu contraseña</p>
      <ion-item class="ui-input-no-padding" :color="theme">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input autofocus :value="email" @input="email = $event.target.value" />
      </ion-item>
    </ion-content>

    <ion-footer :class="{'dark-footer': darkMode}">
      <ion-button expand="block" @click="requestResetPassword" :color="buttonTheme">
        Restablecer contraseña
      </ion-button>
    </ion-footer>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: "ForgotPassword",

  methods: {
    goBack() {
      return this.$router.back();
    },

    async requestResetPassword() {
      const data = { email: this.email };
      try {
        const response = await this.axios.post("user/forgot", data);

        const toast = await this.$ionic.toastController.create({
          message: response.data.message,
          duration: 3000
        });

        await toast.present();
      } catch (e) {
        const toast = await this.$ionic.toastController.create({
          message: e,
          duration: 3000
        });

        toast.present;
      }
    }
  },
  computed: {
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"]),
  },
  data() {
    return {
      email: ""
    };
  }
};
</script>

<style scoped>
.dark-footer {
  background-color: #222222;
}
</style>