<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start">
          <ion-button @click="$router.go(-1)">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Iniciar Sesión</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" :color="theme">
      <ion-item class="ui-input-no-padding" :color="theme">
        <ion-label :color="labelTheme" position="floating">Correo Electrónico</ion-label>
        <ion-input autofocus :value="user.email" @input="user.email = $event.target.value"></ion-input>
      </ion-item>
      <ion-item class="ui-input-no-padding" :color="theme">
        <ion-label :color="labelTheme" position="floating">Contraseña</ion-label>
        <ion-input :color="labelTheme" type="password" :value="user.password" @input="user.password = $event.target.value"></ion-input>
      </ion-item>

      <router-link to="/forgot-password" class="no-underline-mb">
        <ion-label :color="buttonTheme">¿Olvidaste tu contraseña?</ion-label>
      </router-link>

      <ion-button :color="buttonTheme" expand="block" @click="login">Iniciar Sesión</ion-button>

      <!--<ion-grid>
        <ion-row justify-content-center align-items-center>ó</ion-row>
      </ion-grid>
      <ion-button expand="block">
        <ion-icon name="logo-facebook" slot="start"></ion-icon>Continuar con facebook
      </ion-button>
      <ion-button expand="block">
        <ion-icon name="logo-google" slot="start"></ion-icon>Continuar con Google
      </ion-button>-->
    </ion-content>
  </div>
</template>
<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    data() {
      return {
        user: {
          email: '',
          password: ''
        }
      }
    },
    computed: {
      ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
    },
    /* mounted(){
      // Theme colors
      this.theme = this.darkMode ? "dark-mode" : "light"
      this.buttonTheme = this.darkMode ? "light" : "primary"
      this.labelTheme = this.darkMode ? "light" : "dark"
    }, */
    mounted(){
      this._getSubscriptions()
    },
    methods: {
      ...mapActions("User", ["intentlogin"]),
      ...mapActions("Subscriptions", ["_getSubscriptions"]),

      async login() {
        const error = await this.intentlogin(this.user);
        if (error) {
          const toast = await this.$ionic.toastController.create({
            message: error.message,
            duration: 3000
          });

          await toast.present();
        }
      }
    }
};
</script>

<style>
.no-underline-mb {
  display: block;
  text-decoration: none;
  margin: 1rem 0;
}
.dark-mode-input {
  border-color: white;
}
.dark-mode-input:focus {
  border-color: white;
}
</style>