<template>
  <div class="ion-page">
    <ion-header>
      <ion-toolbar :color="theme">
        <ion-buttons slot="start">
          <ion-button @click="$router.go(-1)">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Registrarte</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding" :color="theme">
      <ion-item :color="theme" class="ui-input-no-padding">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input :value="user.firstName" @input="user.firstName = $event.target.value"></ion-input>
      </ion-item>

      <ion-item :color="theme" class="ui-input-no-padding">
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input :value="user.lastName" @input="user.lastName = $event.target.value"></ion-input>
      </ion-item>

      <ion-item :color="theme" class="ui-input-no-padding">
        <ion-label position="floating">Correo Electrónico</ion-label>
        <ion-input :value="user.email" @input="user.email = $event.target.value" type="email"></ion-input>
      </ion-item>

      <ion-item :color="theme" class="ui-input-no-padding">
        <ion-label>Pais</ion-label>
        <ion-select 
                :color="theme"
                placeholder="Selecciona uno"
                :value="country"
                @ionChange="changeCountry($event.target.value)">
          <ion-select-option
                  v-for="country in countries"
                  :key="country._id"
                  :value="country.name"
                  :color="theme">
            {{ country.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item :color="theme" class="ui-input-no-padding">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input :value="user.password" @input="user.password = $event.target.value" type="password"></ion-input>
      </ion-item>

      <ion-item :color="theme" class="ui-input-no-padding">
        <ion-label position="floating">Confirma tu Contraseña</ion-label>
        <ion-input :value="passwordConfirm" @input="passwordConfirm = $event.target.value" type="password"></ion-input>
      </ion-item>
      <br>
      <a href="https://vidaflix.com/politica-de-privacidad" target="blank">
        <ion-button fill="clear" expand="block" class="privacy-policy">
          Politica de privacidad
        </ion-button>
      </a>
      <ion-button expand="block" @click="showPrivacyPolicy()" :color="buttonTheme"> <!--METHOD REGISTER-->
        <ion-icon name="person-add" slot="start"></ion-icon>Regístrate
      </ion-button> 
    </ion-content>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex';

  export default {
    async mounted() {
      await this.getAllCountries();
      this._getSubscriptions()
      
      const { data } = await this.axios({
        method: "GET",
        url: "privacy-policy/politica de privacidad"
      })

      this.privacyPolicy = data.data
    },

    data() {
      return {
        country: "",
        user: {
          firstName: '',
          lastName: '',
          email: '',
          password: '',
          country: '',
          expiresDate: new Date(),
          type: 0,
        },
        passwordConfirm: '',
        privacyPolicy: {}
      }
    },

    methods: {
      ...mapActions("User", ["signUp"]),
      ...mapActions("Country", ["getAllCountries"]),
      ...mapActions("Subscriptions", ["_getSubscriptions"]),

      async register() {
        const error = await this.signUp(this.user);

        if (error) {
          const toast = await this.$ionic.toastController.create({
            message: error.message,
            duration: 3000
          });

          await toast.present();
        }
      },
      async showPrivacyPolicy(){
        const alert = await this.$ionic.alertController.create({
          header: "Aceptar politica de privacidad",
          message: `<div class="ql-editor">${this.privacyPolicy.message}</div>`,
          buttons: [
            {
              text: "Cancelar",
              role: "cancel"
            },
            {
              text: "Aceptar",
              handler: () => {
                this.register()
              }
            }
          ]
        })

        alert.present()
      },
      changeCountry(country){
        this.countries.forEach(data => {
          if(data.name == country){
            this.user.country = data._id
          }
        })
      }
    },

    computed: {
      ...mapState("Country", ["countries"]),
      ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
    }
  };
</script>
<style>
.privacy-policy {
  margin-bottom: 2em;
}

</style>