<template>
  <ion-content :color="theme">
    <ion-slides :options="slideOpts" class="full-height">
      <ion-slide>
        <div class="ion-padding center">
          <h1>Bienvenido</h1>
          <p>Disfruta de nuestra programación y tev en vivo desde cualquier lugar.</p>
          <ion-button :color="buttonTheme" @click="$router.push('/home/slides')" expand="block">Continuar</ion-button>
        </div>
      </ion-slide>
    </ion-slides>
  </ion-content>
</template>


<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      slideOpts: {
        initialSlide: 1,
        speed: 400
      },
    };
  },
  computed: {
    ...mapState("Firebase", ["firebaseToken"]),
    ...mapState("User", ["user_token"]),
    ...mapState("DarkMode", ["darkMode", "theme", "buttonTheme", "labelTheme"])
  },  
  async mounted(){
    await this.axios({
      url: "/device",
      method: "POST",
      headers: {
        "Authorization": `Bearer ${this.user_token}`
      },
      data: {
        firebaseToken: this.firebaseToken
      }
    })
  }
};
</script>


<style>
.full-height {
  height: 100vh;
}

.center {
  text-align: center;
}
</style>