.text-center[data-v-52706451]{text-align:center;font-size:17px}.mt[data-v-52706451]{margin-top:1rem}.btn-bottom[data-v-52706451]{position:absolute;bottom:0;width:100%}.icon-info[data-v-52706451]{color:#3880ff;font-size:6rem;display:block;margin:auto}