.text-center[data-v-8aeb3d38]{text-align:center}.btn-bottom[data-v-8aeb3d38]{position:absolute;bottom:0;width:100%}.icon-info[data-v-8aeb3d38]{color:#3880ff;font-size:6rem;display:block;margin:auto}.dark-footer[data-v-8aeb3d38]{background-color:#222}